.navbar {
    width: 100%;
    height: 10vh;
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.133);
}

.img{
    margin: 8px 0 0 10px;
}

.heading{
    font-size: x-large;
    font-weight: 500;
    margin-top: 2.5rem;
    margin-left: 1rem;
    color: rgba(120, 118, 118, 0.927);
}
 .navbar:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.186);
 }