.list{
    width: 75%;
    height: 60%;
    margin-left: 22% ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.icon{
    font-size: 100px;
    color: rgba(227, 227, 13, 0.712);
}

.header{
    margin-left: 20%;
    color: grey;
}
