
.container{
    width: 200px;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 10px 50px 15px 50px;
    padding-bottom: 10px;
    overflow: hidden;
}

.title, .tagline, .body{
    margin-left: 10px;
    padding: 10px 0 10px;
    color: gray;
}

.title{
    font-weight: 700;
}

.tagline{
    font-weight: 500;
}

.btnContainer {
    height: 100%;
    align-items: center;
    margin-left: 5px;
    gap: 12px;
    transform: translateX(110%);
    display: flex;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  
  .active {
    opacity: 1;
    transform: translateX(0);
  }
  
  .edit,
  .delete, .pinned {
    height: 100%;
    transition: all 0.15s ease-in-out;
  }

  .time{
    font-size: 12px;
    margin-left: 12em;
    color: gray;
  }

  .pinned{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: grey;
    color: white;
    position: relative;
  }

  .pinAct{
    background-color: black;
    cursor: pointer;
  }
  
  .img{
    margin: 9px 10px; 
  }

  .edit:hover,
  .delete:hover, .pinned:hover,.container:hover{
    cursor: pointer;
    transform: scale(1.15);
  }
  

  .container:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }